[2020-01-30 09:33] Mayar2009 opened #1 "Parse PDF to json"
In your article you have mentioned that
"
PDF to JSON We use GROBID5 (Lopez, 2009)
to process each PDF: (i) extract the paper’s Title6, Authors, Year, Venue and Abstract, (ii) extract paragraphs from the Body text organized under extracted Section headings, (iii) extract Figure and
Table captions, (iv) remove equations, table content, headers, and footers from the body text, (v)
extract in-line ci

[2020-01-30 18:44] kyleclo commented on #1
Hey @Mayar2009  thanks for your interest in the project!  We'd be happy to share the parser code once we finish making some more changes / cleaning up the code.

[2020-01-30 18:47] Mayar2009 commented on #1
thanks! hope soon ! keep me please in the process!

[2020-02-04 17:18] viveksck commented on #1
Hello @kyleclo, I also noticed that the value for the section field is pretty much empty in most of the Grob Parses (except for of course the abstract). It would be very useful to know if citation context is from the Introduction, Related Work or Methods sections.

I am also wondering if author affiliations could be added to the JSON.

[2020-02-04 18:50] kyleclo commented on #1
Hey @viveksck  Thanks for catching that!  I agree that the section information is super important, and we've had several users express that they want that information.  Unfortunately I think this is an issue with GROBID parsing which isn't super accurate when it comes to section information.  I tried out ScienceParse, which is also similarly iffy with sections.

I'm currently in the process of loo

[2020-02-04 21:27] Mayar2009 commented on #1
Besides using Grobid we could not parse references.
if you could help with that I will be grateful

[2020-02-04 21:29] kyleclo commented on #1
@Mayar2009  could you explain what you mean by "could not parse references"?  I'm pretty sure GROBID outputs references, when it manages to detect them?

[2020-02-04 21:44] Mayar2009 commented on #1
yes I can see them in the tei file but seems I need a parser to convert the tei file to json file
I am asking about that

[2020-02-05 13:22] Mayar2009 opened #2 "GORC download dataset"
Hi!
Excuse me if I miss the obvious but this line is ambiguous for me
The use of this data is subject to the Semantic Scholar Dataset License.
following Scholar Dataset License link then accept the license agreemen
and in AWS CLI  writing the instruction
aws s3 cp --no-sign-request --recursive s3://ai2-s2-research-public/open-corpus/2020-02-01/ destinationPath

will install corpus
but really I did

[2020-02-05 16:18] kyleclo commented on #2
hey @Mayar2009, sorry for any confusion.  The download instructions for this specific dataset is in the README of this github repo, and the dataset is located at `s3://ai2-s2-gorc-release/`.  The usage of this dataset is subject to the same license agreement shared by all of SemanticScholar datasets, which is linked to from http://api.semanticscholar.org/corpus/legal/.

The specific instructions y

[2020-02-08 06:35] XuhuiZhou opened #3 "How to get citing paper from bibliography entries"
Hi, Just want to make sure I understand things right.
According to your paper, it seems that bibliography entries serve as a way to get the papers cited by paper (let's say paper A). However,
the entry of bib entries only has a title but not the id of the papers. So if I want to get the content (for example abstract) of papers cited by paper A, the only way I could do is to use the title to search

[2020-02-09 00:44] kyleclo commented on #3
hey @XuhuiZhou, thanks for your interest!  If you download the dataset, you'll see the ID of the paper that's being linked for each bibliography entry is provided in a field called "links".  For example, we can see in the first paper in `0.jsonl.gz`:
[code]

[2020-02-09 05:09] Mayar2009 commented on #3
@kyleclo hi!
If you allow me to participate in your discussion.
As I understand the question is
if we have a paper A cited paper b
in paper A we have just as mentioned above(the entry of bib entries only has a title but not the id of the papers "my guess id  cited papers in paper A, with id he means the number of files in dataset ")
if he wants to get the abstract of paper b should he search in th

[2020-02-09 06:56] XuhuiZhou commented on #3
Yeah, that should definitely be part of the question. Searching through the whole dataset could be pretty hard, I am wondering if we could possibly know which id range should appear in which dataset?

[2020-02-09 07:29] Mayar2009 commented on #3
Also, I did not understand one thing if someone can explain
in your repo mentioned that " The full corpus consists of 10000 zipped files"
in your paper " We introduce the Semantic Scholar Graph of References in Context (GORC),a large contextual citation graph of 81.1M academic publications, including parsed full text for 8.1M open access papers, across broad domains of science.   "
as I understand

[2020-02-09 07:45] XuhuiZhou commented on #3
From what I know, one Json file includes thousands of papers at least.

[2020-02-09 10:31] Mayar2009 commented on #3
yes understand for example 1.jsonl has 8100 paper id!
hmmmm
then you can search the abstract of your required paper depending on paper id noticing that not every paper has an abstract

[2020-02-10 00:59] kyleclo commented on #3
Yeah, there's a ton of papers as part of the full dataset.  Each JSONL file consists of thousands of papers, one per line.   Each paper has a unique identifier (i.e. "paper_id").

As I understood the original question in this thread: "However, the entry of bib entries only has a title but not the id of the papers", I'm pretty sure this shouldn't be true, unless there's a bug in the file.    As see

[2020-02-11 13:00] anchenxin opened #4 "fail to download metadata.tsv.gz"
Hi, I am very interested in this dataset! but just now I wanted  to download the metadata.tsv.gz with the following code
------ download metadata--------
s3_metadata_file ='20190928/metadata.tsv.gz'
local_meta_file = os.path.join(LOCAL_GORC_DIR, 'metadata.tsv.gz')
download_from_s3(bucket, s3_metadata_file, local_meta_file, aws_attribs)
I got a 404 error , is there anything wrong my code?

[2020-02-11 16:51] kyleclo commented on #4
Just to check, from your shell command line can you try: `aws s3 ls s3://ai2-s2-gorc-release/20190928/`.  Do you see a list of objects?

Does `aws s3 cp s3://ai2-s2-gorc-release/20190928/metadata.tar.gz <LOCAL_GORC_DIR>` work?  (replace `<LOCAL_GORC_DIR>` with the actual path)

[2020-02-12 04:23] anchenxin commented on #4
thanks for your help！

[2020-02-12 04:23] #4 closed

[2020-03-09 19:45] daniel-chou opened #5 "S3 Metadata Archive Format"
The metadata file at the S3 path (`s3://ai2-s2-gorc-release/20190928/metadata.tar.gz`) appears to be in bzip2 format. Would you consider renaming the file? Perhaps `metadata.tar.bz2` would be a possibility?

[2020-03-13 16:16] Mayar2009 opened #6 "some questions about 0.jsonl for example"
1. why somwtimes the doi feild is string
["10.1029/2002JB001919"] and sometimes it is just list of string
2. why do you have two abstract feilda in jsonl files one in metadata and the other in probid_parse or latex_parse
what is the difference between them? I did not understand
3.in  grobid_parse why abstarct sometimes is [] and some time is null?
for example

4. what do you mean by the other_ids

[2020-03-13 16:22] Mayar2009 commented on #6
what do you mean by latex in ref_spans, eq_spans for example?

[2020-03-14 11:10] Mayar2009 commented on #6
?Hi again!
what is the difference between

 gropid_parse = {'abstract': None, 'body_text': None, 'ref_entries': None, 'bib_entries': {}}
and
gropid_parse = None
in your jsonl files?

[2020-03-14 20:08] kyleclo commented on #6
Hey @Mayar2009, can you edit your comment to shortest the large dump of data?  It's a bit hard to address your questions because I have to scroll through a lot of text to find them. Thanks!

[2020-03-14 20:18] Mayar2009 commented on #6
yes I did @kyleclo

[2020-03-14 21:03] kyleclo commented on #6
1. Regarding DOI, that seems to be a bug.  Can you point me to which paper_id has that?  I'll fix it for the next release.  Thanks for catching.

2. Ah, that's intentional.  There are 2 ways we can get abstracts:  From publisher-provided metadata (e.g. PubMed), or parsed from the PDF itself.  We decided to include both because internally, there are times we want to use the publisher-provided abstr

[2020-03-14 21:04] kyleclo commented on #6
are you looking at the grobid parse or the latex parse?

[2020-03-14 21:11] kyleclo commented on #6
If a paper did not come with an accompanying PDF, there was nothing to parse.  Hence, we leave the parse as None.

If the paper came with an accompanying PDF, and the PDF parsing executed successfully, then there will be a Dictionary of fields.

For transparency, we wanted to keep these two cases separate (that is, "We got a PDF but didn't process it correctly" vs "We never got a PDF"), but I can

[2020-03-14 21:15] kyleclo commented on #6
Can you be a bit more specific where these different schema are appearing?  It might be on purpose:

If you're referring to the Author schema differing between "Metadata" or "Grobid_Parse" and "Bib_Entries", that's intentional.

This is because we have extra information about Authors (e.g. affiliation) if we receive that from Publishers or parse it directly from the PDF.

But bibliography entries

[2020-03-15 02:53] kyleclo opened #7 "Remove `ref_id` from Bib entries"
See Issue #6, confusion around `ref_id` occurring in the bib entries.   Unless they add significant value, consider removing?

[2020-03-15 02:54] kyleclo opened #8 "Inconsistent author schema"
Looks like Authors in `metadata` can have `affiliation` keys or not, depending on whether they were pulled from Grobid or Gold.  We should standardize that schema.

See Issue #6

[2020-03-15 02:55] kyleclo opened #9 "DOI can either be a string or a list of strings"
This is definitely a bug.  See Issue #6 .  We want DOI fields to always be strings

[2020-03-15 05:28] kyleclo commented on #5
Hey @daniel-chou sorry for the delay.

While looking into the metadata issue, we also decided to modify the tarball situation.  Instead, we've sharded the metadata file into multiple files, one per batch of papers.

They can be found at `ai2-s2-gorc-release/20190928/metadata/` labeled `0.tsv`, `1.tsv`, ..., to `10000.tsv`.

Hopefully this makes things easier!

[2020-03-15 06:11] Mayar2009 commented on #6
all these issues in 0.json1 and I did not finish exploring all I want?
(what do you mean by latex in ref_spans, eq_spans for example?) till now I am concentrating on gropid parse I did not decide yet to look at latex parse

[2020-03-15 16:57] kyleclo commented on #6
`latex` does not exist for grobid parses, only for latex parses.  We'll remove in future.

Yea, as with all large data releases, there's going to be things we didn't catch; thanks for identifying these.  We'll make adjustments in subsequent releases

[2020-03-15 17:04] Mayar2009 commented on #6
it does exist in grobid prase
please look again to scheme introduced

[code]

thanksfor yor response!

[2020-03-15 17:10] kyleclo commented on #6
Yes, the keys exist in all `Span` json objects.  I mean that they're always `null` valued for the `grobid_parse` and only exist for the `latex_parse`.

[2020-03-15 17:16] Mayar2009 commented on #6
ok,  if it is possible to ask when the future release will be ready?

[2020-03-15 18:12] kyleclo commented on #6
Likely sometime in May

[2020-03-16 15:25] daniel-chou commented on #5
@kyleclo Thanks for sharding the metadata file into multiple TSV files! This works well for me. 👍

Just to confirm the `.tsv` files range from 0 to 9998; neither `9999.tsv` nor `10000.tsv` exists. Is this correct?

[2020-03-16 16:06] kyleclo commented on #5
Ah, nice catch!  Looks like forgot to copy `9999.tsv` over. It's added now.  There is no `10000.tsv`.   Thanks!

[2020-03-16 16:07] #2 closed

[2020-03-16 16:09] kyleclo commented on #3
@XuhuiZhou, I was wondering if this is resolved?

[2020-03-16 16:56] daniel-chou commented on #5
Great! I downloaded `9999.tsv` just now. Thank you for resolving this issue. 👍

[2020-03-16 17:31] XuhuiZhou commented on #3
Yes! It is resolved, thanks for the response.

[2020-03-16 17:49] #5 closed

[2020-03-16 17:49] #3 closed

[2020-03-18 08:28] Mayar2009 commented on #6
thanks! we are waiting)

[2020-03-23 19:07] malteos opened #10 "Citing section mostly missing"
I quickly checked on a sample of 35,414 papers from the dataset and none has the `section` set in `paper.grobid_parse.body_text`. Is it just bad luck or is the section information missing for most papers?

[2020-03-23 19:21] kyleclo commented on #10
I'll look into this ASAP, thanks for bringing attention

[2020-04-15 12:01] romankht84 opened #11 "Where to look for the citations?"
Thumbs up for doing such a great job. Can you please help me by giving little explanation of the citation context. As they do not appear in almost 90% of the papers (only 8.1M have full paper and context information). Can you explain it by an example that how paper 2 was cited by paper 1 in which context?

[2020-04-15 15:06] Mayar2009 commented on #6
@kyleclo
Hi!
I got your point about abstract
and I have a question please again about it
First, is your example_papers.jsonl file has the same structure as 0.jasonl file?
Second, after looking into the abstract of the first 20 papers for example_papers.jsonl file
**I got this result:**

****paper[0]["grobid_parse"]["abstract"] which has number (104172):  []
========================================

[2020-04-15 15:20] kyleclo commented on #6
Hey @Mayar2009 the abstract in "metadata" and abstract in "grobid_parse" are different.  The former is a gold abstract sourced directly from the publisher (or whichever source we got the paper from).  This can have mistakes, but in-general we trust these the most.  The latter is any abstract that is being parsed from the PDF directly.  These may not exist because (1) we dont have the PDF, (2) we d

[2020-04-15 15:32] Mayar2009 commented on #6
@kyleclo thanks for immediate response !
so always in your logic of parsing:
    [] :  parsing is failed
   None: there was nothing to parse
another notice maybe is the same as  [the issue#10](https://github.com/allenai/s2orc/issues/10#issue-586447269)

the section field of any (pape['grobid_parse']['body_text']) is always None

[2020-04-16 01:03] Mayar2009 commented on #6
I could not understand why many papers have get_citation_contexts = []
for example paper number 104212197 in 0.jsonl file

even though the paper passed  these conditions

    if not paper:
        return []

    if not paper['grobid_parse']:
        print(f'paper[{paper["paper_id"]} has grobid parse')
        return []

    if not paper['grobid_parse']['body_text']:
        print(f"paper[{paper['p

[2020-04-16 01:19] kyleclo commented on #6
- `[]` and `None` are what we're using internally to keep track of this.  I guess our assumption was that people writing if statements in Python wouldn't run into any issues here because empty lists and `None` will pass True/False in the same manner.

- The null section fields is a bug.  Will fix in the upcoming update.

- Sorry I don't understand what you're referring to by `get_citation_contexts

[2020-04-16 09:28] Mayar2009 commented on #6
@kyleclo
sorry, maybe I wrote in the wrong way...
I mean that  the get_citation_contexts function gives []

[2020-04-23 09:13] Mayar2009 commented on #6
Hi!
Could you please explain what is the purpose of using s2_pdf_hash" for the beginning I understood that this is the number of paper in semantic scholar dataset, or I misunderstand? "?
What is the better way to get the pdf for paper from your dataset ie on which number should I depend on (s2_pdf_hash, ido , other numbers)?
this point is not clear for me.

[2020-05-01 08:34] tomleung1996 commented on #11
Hi romankht84,
I am also interested in this problem. However, I found that we could only obtain the citation context manually as this dataset only provides `cite_spans`.
Do you find any other solutions?

[2020-05-04 05:43] romankht84 commented on #11
Hi tomleung,

I have found one other dataset but that is very small:
https://ordo.open.ac.uk/articles/Citation_Knowledge_based_Dataset/10673132

They have also provided one very large dataset named C2D but that one is not annotated with the citation context. I shall let you know in case there is any progress on my part. Keep in touch plz.

[2020-05-04 05:53] tomleung1996 commented on #11
Thank you, @romankht84.

Regarding the citation context corpus, I do know a few. Besides C2D and the small dataset you mentioned, unarXive is also a recent one that worths attention.
https://zenodo.org/record/3385851#.Xl5q7oG-uhA

I am a PhD student in Information Science. Would you please give me your email or other contacts of you so that we can communicate? You can find my email on my GitHub pr

[2020-05-04 06:01] romankht84 commented on #11
Thank you, @tomleung1996.
I have sent you an email from my account.

[2020-05-04 06:20] kyleclo commented on #11
Sorry about missing this.  Yes, we provide citation mentions for full text papers.  For papers without full text, there's no way to provide citations.  We expect users to perform their own sentence splitting.

[2020-05-04 06:40] tomleung1996 opened #12 "What is the recommended hardware and software solutions to use this dataset?"
Thank you for your generosity to share this great corpus! However, I have some questions about using this dataset.

1) I don't have powerful clusters. What I have is a PC with i7-8700K, 64GB RAM, and 10TB storage. Is it feasible to perform an analysis on this corpus with my PC? It would be awesome if you can share the recommended hardware as I have no experience of dealing with such a large amount

[2020-05-04 06:48] romankht84 commented on #11
"we provide citation mentions for full text papers", the same is mentioned in your paper as well. But unfortunately, the files I open are missing it. Can you please give an example file number in which I can see it.

"there's no way to provide citations", I can agree with that, no doubt.

[2020-05-04 15:33] kyleclo commented on #11
Here's an example using the first shard `0.jsonl`.  If you call `head -1 0.jsonl | jq '.grobid_parse' | head -30` the output is:

[code]

The `cite_spans` field indexes into the `text` field.  So you can see that in this example, the 274th to 297th characters indicate the citation mention `[Lyons and Waite, 2011]` and they are linked to the bibliography entry `BIBREF9`.

[2020-05-04 16:11] kyleclo commented on #12
Hey @tomleung1996, thanks for the interest!

The whole dataset uncompressed is less than 1TB, so you should be fine on storage.  The other specs all look fine to me, the only concern is how many CPUs you can multiprocess over?

S2ORC is essentially a raw corpus of individual papers, so the easiest way to work with it is to define some sort of processing function that converts a single paper into t

[2020-05-05 06:05] tomleung1996 commented on #12
Thanks!
I want to store the metadata, citation context, and the citation relationship in the database.

I thought that your team might have performed some bibliometrics analysis on this corpus (e.g. constructing a citation network), so I was wondering what software solution you were using. Not just preprocessing the raw data with Python.

[2020-05-05 15:25] Mayar2009 commented on #6
@kyleclo
could you please tell why sometimes a paper has grobid_parse andlatex_parse and why?

[2020-05-05 16:25] kyleclo commented on #6
- The `get_citation_contexts` function returns `[]` when there is no full text, or there is no detected citation mention within that full text.

- `s2_pdf_hash` is the SHA1 of the PDF used to produce the `grobid_parse`.  We don't provide any way to get the PDF from the internet.

- Papers can have `grobid_parse` when we had a PDF available to parse.  Papers have `latex_parse` when we had a LaTeX f

[2020-05-05 16:29] kyleclo commented on #12
The intention behind this dataset is a general-purpose raw corpus that preserves structure in the full-text.  We're expecting people to perform their own processing of the dataset in whatever manner they choose to derive their own respective task dataset.

For example, we have projects that use S2ORC as an upstream resource, and each of them has its own processing code.

[2020-05-05 16:46] Mayar2009 commented on #6
@kyleclo I mean there are papers that have both, why?

[2020-05-05 16:53] kyleclo commented on #6
There are papers for which we have both a PDF and a LaTeX file, in which case, both parses are available.

`s2_pdf_hash` is the SHA1 of the PDF used to produce the `grobid_parse`.  This often works with SemanticScholar in that `semanticscholar/paper/<s2_pdf_hash>` will likely return the paper in question, but it's not guaranteed.

[2020-05-05 17:08] Mayar2009 commented on #6
@kyleclo
 There are papers for which we have both a PDF and a LaTeX file, in which case, both parses are available
Even it is confused somehow
but again forgive me for the question
for example, in the file 0.jsonl, the paper which has the paper_id ('10164018') has both grobid_parse and latex_parse in the same json file and not in two separate json files.
so I am confused about (is it possible that

[2020-05-05 19:15] kyleclo commented on #6
No worries, let me try explaining a different way.

Most papers on arXiv have an uploaded PDF as well as a LaTeX source file dump.  We wrote separate parsers for both the PDF as well as the LaTeX.  We don't want to force people to use one text source versus the other, so we included both of these for that same arXiv paper.  It's up to you whether you want to use the PDF-parse, the LaTeX-parse, or

[2020-05-05 20:23] Mayar2009 commented on #6
Thanks for the worthful explanation

[2020-05-06 00:42] tomleung1996 commented on #12
Thank you @kyleclo, you are very helpful!

Will S2ORC update on a regular basis like 6 months of 1 year? If so, can I use the aws sync command to update incrementally? That would be awesome.

[2020-05-06 03:05] kyleclo commented on #12
We want to do regular updates, but it's a tad expensive to perform over this many papers.  Still thinking through how to do this.

I think long-term, we might want something like incremental exports.  But the first set of updates of the corpus export will likely be full batch dumps.

What sort of application are you thinking about that requires timely syncs?

[2020-05-06 03:13] tomleung1996 commented on #12
I am considering S2ORC could be a good alternative to Web of Science or Scopus to perform bibliometric analysis (Wos and Scopus don't provide citation spans or the full text). It doesn't require timely syncs, once a year or two years is fast enough.

I think once your team finalizes the structure of this corpus, it can be updated incrementally since the references of a published paper usually don'

[2020-05-06 06:56] romankht84 commented on #11
I guess I could not explain my question. I see the details you have provided above in lots of examples. What I was interested in is to know the citation reason/motivation/function. To know the purpose/function of citing a paper. This is available in SciCite dataset with key 'lable'.

[2020-05-06 19:01] kyleclo commented on #11
Ah yes, citation intent would require additional semantic annotation on top of the raw citation contexts that we provide.

If you're looking for annotations regarding citation intent, I recommend you take a look at Cohan et al https://arxiv.org/abs/1904.01608 and Jurgens et al https://transacl.org/ojs/index.php/tacl/article/view/1266

[2020-05-10 14:27] ahlesen opened #13 "same acl_id for different papers"
Good day,
Some different papers have the same acl_id.
![image](https://user-images.githubusercontent.com/27410797/81501890-605a8d00-92e3-11ea-8167-40549592e417.png)

![image](https://user-images.githubusercontent.com/27410797/81501912-82eca600-92e3-11ea-8209-144c4a3ee2b5.png)

[2020-05-10 19:52] kyleclo commented on #13
Hey @ahlesen, thanks for catching this!  I looked into it and seems like a somewhat unusual case:

- `37387939` has the wrong ACL ID (off by one).  The correct ACL ID is `D17-1280`.  Something must've happened during our data crawl.

- `28752386` has the correct ACL ID.

- `10822819` is a tricky case & I need to think about how to handle it.  It looks like our crawler found a different version of

[2020-05-11 13:04] #12 closed

[2020-05-11 13:07] tomleung1996 opened #14 "Will you consider parsing the section field for each body_text?"
I notice that most of the `section` field is set to `null`, except the ones in the abstract.

It would be very helpful if this field could be filled in with actual values in future updates.

[2020-05-11 16:01] kyleclo commented on #14
Hey @tomleung1996, yes this is a known bug that we're fixing in the next release

[2020-05-22 15:19] Mayar2009 commented on #6
@kyleclo
HI again!
is it possible in bib_entries that paper has link to itself?
I mean in one or more entry in bib_entries sometimes accrue that the value of link is the same as paper_id
for example
grobid: paper_id 5391048 value of link  5391048
grobid: paper_id 1031488 value of link  1031488
grobid: paper_id 1144073 value of link  1144073
latex: paper_id 1144073 value of link  1144073
grobid: pa

[2020-05-22 17:00] kyleclo commented on #6
Hey @Mayar2009, thanks I'm looking into it; this is most definitely a situation where we couldn't find a better link.  I'd consider these to be unlinked entries.

[2020-06-10 08:11] zjhuang22 opened #15 "number citation"
Hi, thanks for the great work, I wonder is the number citation of a paper provided in the datasets? What I mean is, paper A, the number of times paper A cited by other papers.

[2020-06-20 14:32] yingtaomj opened #16 "how much money does it cost to download the files?"
I'm not familiar with aws. It seems costly to download big files. Are there any easier way to obtain the files?

[2020-06-21 01:26] #16 closed

[2020-06-21 02:43] yingtaomj opened #17 "How to find the corresponding citation papers"
As I notice that the linked id points to the citation paper. However, how to find the corresponding cited paper is difficult. Do  we have to search the entire dataset to find the paper or there is another easier way?

[2020-06-21 09:29] yingtaomj opened #18 "How to identify the category of each paper"
In figure 2 we can see the Distribution of papers by Microsoft Academic field of study. How to identify this category information in the provided dataset?

[2020-06-21 18:51] kyleclo commented on #18
@yingtaomj  See the `metadata.csv` files have provided fields of study per paper

[2020-06-26 12:29] russelljjarvis opened #19 "Is this data set seachable?"

[2020-07-08 02:58] lucylw commented on #17
You can try indexing in the metadata files to identify the linked paper. Unfortunately, it is currently difficult to search and retrieve a specific full text, though we are looking into infrastructure to make this easier.

[2020-07-08 03:00] lucylw commented on #15
We provide a notion of inbound/outbound citations to/from papers within the dataset itself (see metadata). These citations are designed to help people identify papers where citation contexts may exist, and are not a very good representation of the "total" number of citations a paper has.

[2020-07-08 04:06] kyleclo commented on #15
@zjhuang22 This is just several lines of code to compute for every paper:
[code]
but like Lucy said, the citation count will probably differ from what you see across many websites, like Google or Semantic Scholar.  What we give you is the citation counts with respect to the subset of papers in our S2ORC collection for which we have citation information, not the *true* citation count of papers, whi

[2020-07-08 04:09] kyleclo commented on #19
Hi @russelljjarvis, the dataset is distributed as static JSONLines files.  We don't provide any search interface on top of it.  I suppose it's searchable to the extent that I've used it for:
- Finding papers with a certain metadata field (e.g. papers from ACL or papers that are Computer Science).  This is just a simple Python loop through each row and checking its metadata field.
- Finding papers

[2020-07-08 04:11] kyleclo commented on #18
For example, each row looks like

{"paper_id": "77490025", "title": "State...  "year": 1975, **"mag_field_of_study": ["Medicine"]**, ...}

[2020-07-08 04:11] #18 closed

[2020-07-08 04:11] #19 closed

[2020-07-08 04:12] #15 closed

[2020-07-08 04:14] kyleclo commented on #14
@tomleung1996 It's fixed in our latest release `20200705v1`.  Here's a screenshot of `grep '"section":'` on our `pdf_parses/`
![image](https://user-images.githubusercontent.com/13603748/86875218-d9cdec00-c096-11ea-8224-63901487e183.png)

[2020-07-08 04:14] #14 closed

[2020-07-08 04:16] #11 closed

[2020-07-08 04:17] kyleclo commented on #10
@malteos Thanks for drawing attention to this.  It's been fixed in the most recent release `20200705v1`.  Here's a screenshot of `grep '"section":'`

![image](https://user-images.githubusercontent.com/13603748/86875424-51038000-c097-11ea-9737-f7edc0f723ee.png)

[2020-07-08 04:18] #10 closed

[2020-07-08 04:18] kyleclo commented on #9
This has been resolved with additional tests added to normalize fields

[2020-07-08 04:18] #9 closed

[2020-07-08 04:18] #8 closed

[2020-07-08 04:19] #7 closed

[2020-07-08 04:20] kyleclo commented on #1
Hey @Mayar2009,  thanks for this request.  We've heard from others too that also want access to our TeiXML to JSON parser, so we're planning on releasing it.

[2020-07-08 04:21] kyleclo commented on #6
Hey @Mayar2009, would it be alright if I closed this issue?  It's a bit hard to follow since there are a lot of things being discussed in one thread.  I believe with the new release of version `20200705v1`, a lot of the normalization issues & missing fields bug have been resolved.  The `README` also details the schema more clearly now.

[2020-07-08 04:21] #6 closed

[2020-07-08 05:07] Mayar2009 commented on #1
@kyleclo thanks!

[2020-07-09 00:13] kyleclo opened #21 "Citation mention linked to bib entry without key"
See `paper_id=15213255`:

[code]

See `BIBREF11`, yet:

[code]

Will need to double-check where it went.

[2020-07-09 11:42] malteos commented on #10
Awesome! Thanks for your work

[2020-07-15 21:54] #1 closed

[2020-08-02 07:10] shizhediao opened #22 "how can I get affilication information of authors"
Hi,
I was wondering how can I get the affiliation (institution or nationality) of authors
Is it possible?
Thanks!

[2020-08-02 22:47] kyleclo commented on #22
Hey @shizhediao, not currently.  I know MAG has pretty good author information, and S2ORC provides `mag_ids` of a large collection of its papers.  I would maybe go the route of trying to join against that metadata to obtain that information.

[2020-08-03 00:30] shizhediao commented on #22
OK! I see.
Thanks for your reply!

[2020-08-03 00:30] #22 closed

[2020-08-06 01:40] dykang opened #23 "Get content (not a caption) in a table"
Would it be possible to get text context inside a table? For example, given a table like below:

[code]

It would be very helpful if I can get the structured text of `[ [None, "F1", "Precision", "Recall"], [Model1, 0.5, 0.4, 0.3]] `.

[2020-08-11 15:10] shizhediao opened #24 "How to deal with the copyright issue?"
Hi,
Thanks for your great dataset which definitely speeds up scientific research!
As a fan and user of your dataset, I was really curious how do you guys deal with copyright issues?
1. Do you have the right to distribute the submitted articles?
2. As a user of the dataset, may I have the redistribution right? For example, if I do another process step designed for some research tasks based on your

[2020-08-17 21:24] Mayar2009 opened #25 "How can we get the dataset?"
Can I get Just part from this data set cause I do not have enough space on my disk?

[2020-08-26 19:03] ZiningZhu opened #26 "Different names for the same venue / journal"
Thanks for the hard work collecting these data. I found some publications on the same venues appear to have different venue entries. Do you plan to unify them in the future?

E.g: `EMNLP`, `EMNLP/IJCNLP`, `EMNLP 2011`, `EMNLP 2015`, `Conference On Empirical Methods In Natural Language Processing`, `2007 Joint Conference on Empirical Methods in Natural Language Processing and Computational Natural

[2020-10-09 15:01] Sunnycheey opened #27 "Get table content"
I want to know why you remove the table content while processing since the table content is structured and important in many situtation.

[2020-11-13 10:12] GabrielLin opened #28 "S2ORC-SCIBERT"
As mentioned in your paper, where can I download the S2ORC-SCIBERT models? Thanks.

[2020-11-13 14:53] kyleclo commented on #28
Hey Gabriel, can you send me an email?  I can help you with access to the model from there, thanks!

[2020-11-13 14:56] kyleclo commented on #27
Hey @Sunnycheey, we decided that the quality of the tables was too low for practical usage & we decided not to include it as part of the release.  We've been since working on how to improve table extraction so we that we might include it in future S2ORC releases.  If you're looking for a S2ORC-like dataset that includes higher quality tables, you can check out https://github.com/allenai/cord19 in

[2020-11-13 14:57] kyleclo commented on #26
Hey @ZiningZhu  we don't currently have plans to normalize these into the same entity.  There's someone on the team who's looking into this, but it's very early stage right now so we can't promise when a reasonable solution will make it to a future S2ORC version.

[2020-11-13 14:59] kyleclo commented on #25
Hey @Mayar2009 yes, I recommend doing something like this:
[code]

and running this on each shard of the dataset (i.e. incrementally downloading & keeping only the parts that you want)

[2020-11-13 15:01] kyleclo commented on #24
Hi @shizhediao, we already discussed this over email; just copying my response here for others:

[2020-11-14 04:36] GabrielLin commented on #28
Thank you, Dr. Lo. I have sent the email.

[2020-11-16 12:59] muguruzawang commented on #25
sorry, I run this code but encounter the problem that "FileNotFoundError: [Errno 2] No such file or directory: '/20200705v1/metadata/raw/metadata_0.jsonl.gz'". It seems that the subprocess didn't work well. Do you know the reason?

[2020-11-20 20:59] kyleclo commented on #28
Hey @GabrielLin sorry I can't seem to find your email. Do you mind contacting again?

[2020-11-22 21:31] #26 closed

[2020-11-23 12:42] GabrielLin commented on #28
Dear Dr. Lo, I have sent the email again. If you still cannot receive it, I will send it by another email account. Thanks.

[2020-11-23 13:53] JaniceXiong commented on #28
I also send an email applying for S2ORC-SCIBERT model, thanks :) @kyleclo

[2020-12-14 23:19] kyleclo opened #29 "[Release] TODOs"
# pipeline refactor
[ ] Switch from CorpusDB to SDS integration
[ ] Refactor pipeline code to import from Lucy's latest PDF2Parser library  (includes upgrade to Grobid 0.6.1)

# parser
[ ] Double-check Backmatter
[ ] Include section numbers
[ ] HTML Table parses

# release
[ ]

[2021-03-21 17:28] emanuelevivoli commented on #28
@kyleclo , I also have sent you an email. let me know, thanks a lot.

[2021-03-22 18:42] nsndimt commented on #28
@kyleclo Can you also send me a copy of the S2ORC-SCIBERT model? I have sent the application to your email. Thx.

[2021-04-05 10:28] emanuelevivoli opened #30 "Keyword extraction"
Hello,
 thanks for the awesome work you did!
Usually in scientific papers there is a section containing the paper's `KeyPhrases` or `KeyWords`. I didn't see any section/properties named  neither `KeyPhrases`  nor `KeyWords` or anything similar, so my question (supposing there must be some remaining information in the `body_text` property) is:

**Do you have any method (or any advice) for extractin

[2021-04-09 22:17] lucylw commented on #30
Emanuele, we don't extract Keywords/Keyphrases explicitly. First of all, not all papers have them, and when they are there, the format can be variable. In S2ORC, they sometimes wind up in the Abstract or first paragraphs of the body text. You can try to use regexes to pull them out. That's my best recommendation for now. Good luck!

[2021-04-09 22:17] #30 closed

[2021-04-16 15:53] viswavi opened #31 "Update of papers in S2ORC"
Hi,

Thanks again for creating S2ORC - it's been such a great tool for research.

I'm wondering if there are any plans to update the set of papers included in S2ORC? The last update included papers through 4/14/20, which was over a year ago. I'm working on a tool for the AI/ML community, and it would be maximally useful if we were able to include papers published in the last year (which are surpri

[2021-05-08 03:10] sairin1202 opened #32 "missing .bbl parser for latex code"
Most latex source codes from Arxiv use .bbl format for bibTex, while the code in doc2json cannot handle this. I tried some sources from Arxiv, none of those can produce bibliography information. Any suggestions for this?

[2021-05-21 19:47] lucylw commented on #31
Hi there, we are currently working on a new version of S2ORC with many data/extraction quality improvements; though it is likely to be several months or longer till this new release. In the meantime, we will not be releasing a new version of S2ORC that uses the old models. If you have specific papers from the last year you would like to process, you can look into `https://github.com/allenai/s2orc-

[2021-05-21 19:47] #31 closed

[2021-06-07 20:17] myun-lai commented on #28
@kyleclo Hi Dr. Lo, I send you an email too. Hope you could share me the S2ORC-SciBERT model. Thanks in advance.

[2021-06-17 01:15] kyleclo commented on #28
Hi @GabrielLin @JaniceXiong @emanuelevivoli @nsndimt @myun-lai  just checking in since I'm not sure if email IDs line up with GitHub usernames:  I've attempted to send the S2ORC-SciBERT models to each of you.  Can you confirm receipt, or if I missed you, let me know?

Thanks!

[2021-06-17 13:22] GabrielLin commented on #28
Dear @kyleclo , I got it. You have sent it to me a few months ago. Thank you.

[2021-06-17 14:17] emanuelevivoli commented on #28
Dear @kyleclo , same thing here, I got it :)

[2021-06-17 19:23] lucylw commented on #32
Hi there, have you installed latexpand per the instructions here? https://github.com/allenai/s2orc-doc2json#latex-processing

The doc2json library does handle *.bbl files (though not *.bib files) but it requires latexpand to do so.

[2021-06-17 20:27] myun-lai commented on #28
Hi Kyle @kyleclo <https://github.com/kyleclo>,

I have received the link from you. But I have not downloaded it yet.
Thank you so much.

On Thu, Jun 17, 2021 at 4:17 PM evivoli ***@***.***> wrote:

[2021-07-17 17:30] Soumyajain29 opened #33 "How to extract citation sentences ?"
Hii,
I am working with the dataset. For my research work, I want to extract citation sentences.
For example, suppose paper A cites paper B. Then there must be a sentence in paper A describing paper B. I want to extract this sentence. I know citation spans are available, which will help in extracting those sentences. But is there any preferred library (NLTK, spacy ) / way that should be used for se

[2021-07-19 17:07] kyleclo commented on #33
Hi @Soumyajain29, I would recommend checking out https://allenai.github.io/scispacy/ for sentence splitting.

[2021-07-21 12:19] hp0404 opened #34 "parsing full dataset?"
before downloading the latest full release, I thought I'd clarify - I've noticed you have *s2orc-doc2json* library, so do I need to manually parse zipped files once I have full dataset or do you upload processed JSONL files that don't require any parsing?

thanks

[2021-07-24 01:05] lucylw commented on #34
no, you do not need to do any additional parsing. the s2orc dataset consists of structured paper data and metadata.

the s2orc-doc2json library is made available so that you can process other documents into the same format as s2orc if you'd like.

[2021-07-24 01:05] #34 closed

[2021-07-26 05:01] Soumyajain29 commented on #33
Thanks for the suggestion, Kyle.

[2021-11-05 14:25] cthoyt opened #35 "Make data open by archiving on Zenodo or Figshare"
Currently the README says that a potential consumer of S2ORC should fill out a Google Form to get a download link. For a resource that has the word "Open" in the title, this is quite a closed choice. I would highly suggest posting the data to an archive service like Zenodo or FigShare, which both keep track of different versions of the same record with high granularity metadata like the license in

[2021-12-27 03:19] zhongxiangboy opened #36 "Only the Computer paper data wanted"
How will it work if I only want to use data from the computer or medical field?  Do I still need to download all the data and find the data I need by field?

[2022-01-29 17:48] Brit7777 commented on #28
@kyleclo Hello Kyle, I also sent you an email regarding S2ORC-SCIBERT models.

For those who who has the model from Kyle, do you mind sharing it with me if possible?

[2022-03-01 19:39] jacklxc opened #37 "Missing hierarchical information of section heads"
The current released version is greedily using the immediate/lowest-level section head as each paragraph's section head. For example, if there are any sub-sections or paragraph heads under the "Related Work" section, it becomes hard to extract the entire "Related Work" section using string matching of the section heads.

[2022-03-21 17:40] abhijith21198 commented on #28
@kyleclo Hello Kyle, I've mailed you for the SciBERT model for the S2ORC dataset. It'd be great if you can provide them to me.

[2022-04-24 13:23] Hannibal046 opened #38 "Data Integrity"
Hi, after downloading the full data from the link you emailed. I found that the set of `paper_id` in `metadata_0.jsonl.gz` do not equal to that of `pdf_parses_0.jsonl.gz`. Am I getting wrong ? is it possible that paper of the `paper_id` in `metadata_0.jsonl.gz` appear in the `pdf_parses_x.jsonl.gz` ? Thanks so much !

[2022-04-25 18:50] lucylw commented on #38
@Hannibal046 The `paper_id`'s are the same between each similarly numbered `metadata` and `pdf_parse` set. The metadata file will have many more paper_ids, since it includes papers where we do not have any full text. All entries with `has_pdf_parse: True` in the metadata entry will have a corresponding entry in the `pdf_parse` file.

For example, in `metadata_0.jsonl.gz`, there are 1366661 entries

[2022-04-25 18:58] lucylw commented on #37
Unfortunately this is the case in the current released version. In the updated s2orc-doc2json utility (which we use to create S2ORC JSON), we now preserve hierarchical section headers when possible (see [here](https://github.com/allenai/s2orc-doc2json/blob/b8eacf443dff3a97b287134df5ddccb8c6faa00a/doc2json/s2orc.py#L379)).

For future S2ORC releases, this will be standard. If you really need nested

[2022-04-25 18:58] lucylw commented on #36
When granting access to the data, we include a script to help download the dataset and filter by field of study.

[2022-04-25 18:59] jacklxc commented on #37
Thank you, Lucy.

[2022-04-25 18:59] #37 closed

[2022-04-28 11:28] Hannibal046 commented on #38
Thanks so much ! It solves all my problem

[2022-04-28 11:28] #38 closed

[2022-05-02 15:16] AmenRa opened #39 "Unique authors' identifiers"
Hi and thanks for the dataset!

Is there any plan to release an updated version of the dataset with unique authors' identifiers?

Right now, building an authorship / co-authorship graph with the available data does, unfortunately, lead to severe noise issues.

As far as I understand, the dataset is somewhat linked to the Semantic Scholar corpus, which should make this doable for you.

Any help on

[2022-05-03 22:32] lucylw commented on #39
Hi Elias,

We do not currently have plans to incorporate author IDs into S2ORC. You can use the [Semantic Scholar API](https://www.semanticscholar.org/product/api) to retrieve associated author IDs from Semantic Scholar.

-Lucy

[2022-05-04 07:34] AmenRa commented on #39
Hi Lucy and thanks for your answer.
I will take a look at the API.

[2022-05-04 07:34] #39 closed

[2022-08-10 19:34] malteos opened #41 "New releases?"
Do you plan to release any new datasets containing more recent papers?

[2022-08-29 06:05] nilesh3030 commented on #28
@kyleclo I have a question and I hope I can get the answer from you. I was interested in knowing the resources (GPU details) that you guys used to pretrain the S2ORC-SciBERT and how much time it took to complete the pretraining.

[2022-10-01 03:04] sameeravithana opened #42 "About latex only corpus"
Hello, Is the latex-only corpus available to download?

[2022-11-18 23:09] lucylw commented on #41
We will likely not release another version of S2ORC in its current form. We are starting to make S2ORC full text parses available through the Semantic Scholar API: https://api.semanticscholar.org/ which will hopefully simply access.

[2022-11-18 23:11] #41 closed

[2022-11-18 23:11] #33 closed

[2022-11-23 16:41] AvishekLahiri commented on #28
@kyleclo Hi Kyle, I have also sent you an email for access to the S2ORC-SCIBERT model very recently. I would be highly grateful if you could please grant me acess to the model.